/* GALLERY PAGE */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  max-width: 1128px;
  margin: 0 auto;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.gallery-item:hover {
  transform: scale(1.03);
}

.gallery-link {
  display: block;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1150px) {
  .gallery {
    max-width: 750px;
  }
  .gallery-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    max-width: 100%;
    padding: 0 16px;
  }
}

@media screen and (max-width: 480px) {
  .gallery-item {
    flex-basis: 100%;
  }
}
